


@media(max-width: 428px) {
    .header{
      
        margin: auto;
    }

    .search {
        width: 70%;
        height: 50px;
    }
    .search1{
        height: 50px;
        width: 60px;
    }
}